.footer {
    background-color: #13181b;
    padding: 7rem 9rem 7rem 9rem;
}
.footer li {
    list-style: none;
    margin-bottom: 1rem;
}
.footer-links__heading {
    font-size:1.6rem;
    color: #ffffff;
}
hr.footer-line{
    border-top: 2px solid rgba(255,255,255,.9);
    width: 3rem;
    margin-top: -1rem;
}
.footer  a {
    /* text-transform: initial;   */
    font-size: 1.6rem; 
    color: #8792a1;
    transition: all .3s;
}
.footer a:hover {
    color: rgb(255, 255, 255);
}
.footer-links {
    margin-left: 8rem;
    color:#8792a1;
}
@media (max-width: 420px) {
    .footer-links {
        margin-left: 0;
    }
}

.footer-logo {
    height: 5rem;
}
.footer-text {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0 2rem;
}