/*------

Header Styles */
.header {
    height: 800px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
        background: linear-gradient( 
            rgba(56, 78, 119, 0.8),
            rgba(56, 78, 119, 0.8)),
        url(../../../img/bg.jpg) no-repeat fixed;
    color: #fff;
    position: relative;
}

.header-text {
    margin-bottom: 5rem;
    animation: moveInLeft 1s ease-in-out;
}
.intro {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-25%, -25%);  
    width: 100%;
    font-weight: 100;

}
.intro__image {
    margin-top: -6rem;
    max-width: 100%;
    height: auto;
}
@media (max-width:768px) {
    .intro-image-container {
        display: none;
    }
    .intro__image {
        margin-top: 3rem;
    }
    .header-cta {
        text-align: center;
        padding-right: 2rem;
    }
}
.header-text-box a:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.header-text-box a:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.mobile-logo-box {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
}

@media (max-width: 1025px) {
    .mobile-logo-box {
        display: block;
    }
}
.mobile-logo {
    height: 4rem;
}