
.centered {
    margin: 0 auto;
}
.abbre {
    line-height: 48px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-radius: 100%;
    background: #1445a6;
}
tr {
    line-height: 48px;
}

.status {
    font-size: 13px;
}

.m-portlet.m-portlet--tab, .topheader {
    width: 80%;
    float: right;
}
.welcome {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 993px) {
    .m-portlet.m-portlet--tab, .topheader  {
        width: 100%;
        float: none;

    }
    .m-login.m-login--1 {
        background-image: url(../images/nat-10.jpg);
          background-size:cover;
          height: 100vh;
          border-radius: 3px;
          background-repeat: no-repeat;
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2); }
        .m-login.m-login--1 .m-login__aside {
          width: 700px;
          padding: 2rem 8rem; }

}




.m-aside-left.m-aside-left--skin-dark {
    height: 100vh;
}
.inline {
    display: inline;
}
/* 

<a href="/members/new" class="">Add a new member <i class="glyphicon glyphicon-plus"></i></a>

<div class="row">
  
<% members.forEach(function(member){%>
    <div class="col-md-4">

        <div class="card" style="">
            <div class="card-body">
                
                <h4 class="card-title"><%= member.firstName + " " + member.lastName%> </h4>
                    <p class="card-text"><small>Joined <%= member.dateJoined.toDateString()%></small>
                    <div><%= member.address%></div></p>
                        <a href="#" class="btn btn-primary">View Profile</a>
                            <a href="#" class="btn btn-dark float-right">View transaction Details</a>


                            
            </div>
        </div>
    </div>
    <%});%>



 
</div> */