.faq-header {
    background-image: linear-gradient(to right bottom, rgba(56, 78, 119, 0.9), rgba(56, 78, 119, 0.9)), url(../../img/faq.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}
.faq-text {
    padding: 10rem 2rem 6rem 2rem;
}
.faq-text h1 {
    font-size: 4rem;
}
.section-faq .accordion {
    margin-top: 3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
}
.accordion p {
    font-size: 1.5rem;
    text-align: center;
}
.accordion p a {
    text-transform: initial;
    color: #323d47;
}
.accordion p a:hover {
    color: #3083aa;
}
.accordion .card {
    background-color: #fff;
    border: 1px solid #f1f2f3;
    margin-bottom: 16px;
}

.accordion .card:last-child {
    margin-bottom: 0
}

.accordion .card-title {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9fafb
}

.accordion .card-title a {
    display: block;
    padding: 16px 33px;
    text-transform: initial;
    color: #323d47
}

.accordion .card-title a::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-left: 1px solid #757575;
    border-top: 1px solid #757575;
    margin-right: 20px;
    margin-left: -33px;
    margin-bottom: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .2s linear;
    transition: .2s linear
}

.accordion .card-title a.collapsed::before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.accordion-connected .card {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid #f1f2f3;
}

.accordion-connected .card:last-child {
    border-bottom: 0
}

.accordion-connected .card-title {
    border-bottom: 0;
    background-color: #fff
}

.accordion-connected .card-title a {
    padding-top: 20px;
    padding-bottom: 20px
}
