.pricing-header {
    background-color:rgb(56, 78, 119);
    color: #fff;
}
.pricing-container {
    padding-top: 15rem;
    padding-bottom: 5rem;
}
.pricing-container h1 {
    font-size: 4rem;
    padding-bottom: 4rem;
}

.section-pricing {
    background-color: #fafbfb;
    margin-top: -1rem;
    padding-top: 6rem;
}
.pricing-plans p:first-child {
    font-weight: 400;
    letter-spacing: 2px;
    color: #bfc5ca;
    text-transform: uppercase;
}
.pricing-plans-header {
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 4rem;
}
.pricing-btn-toggle {
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
.pricing-btn {
    width: 150px;
    border-radius: 10rem;
    padding: .8rem 2.6rem .6rem;
    font-size: 1.1rem;
    font-weight: 800;
}
.pricing-content {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}
.pricing-content p:first-child {
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.5rem;
}
.pricing-content ul {
    font-size: 1.8rem;
    font-weight: 100;
    padding: 2rem 3rem;
}
.pricing-content ul li {
    padding: .5rem 2rem 1rem;
    border-bottom: 1px solid #eee;
}
.shadow-8,
.hover-shadow-8:hover {
    -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.06)
}
.price {
    font-size: 4rem;
    font-weight: 400;
}
